
<div class='container text-center mt-5'>

{{#if title}}
<h1>{{title}}</h1>
<p>Welcome to {{title}}!</p>
<p>Search a city to get its current weather report.</p>
<p>Example: Los Angeles, CA</p>
{{! Action means go to that route }}
<form action='/weather' method='GET'>
    <input name='city' placeholder='Search your city'/>
    <button type='submit'>GET WEATHER</button>
</form>
{{/if}}

{{#if error}}
<h2>{{error}}</h2>
{{/if}}

</div>

